<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <a href="https://momodeveloper.mtn.com/"><img src="https://play-lh.googleusercontent.com/rqGzKfvfgLEOzap1p7HLk_S3ZTgLqyvNCV-zo0URAcu5ywmWeR0zRi6SomHr2b80gg=w240-h480-rw" alt="MTN MOMO Logo"></a>
      <h1 class="display-6 fw-normal">MTN-MOMO-API Collections Implementation</h1>
      <p class="lead fw-normal">Collections is a service that enables Mobile Money partners to receive payments that can be customer-initiated on USSD/App/Web or Merchant-initiated.</p>
      <a class="btn btn-outline-secondary" href="https://github.com/DavidOsee/MTN-MOMO-API-IMPLEMENTATION.git" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
    </svg> Send a Pull Request</a>
    </div>
    <div class="product-device shadow-sm d-none d-lg-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-lg-block"></div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
      <div class="my-3 py-3 text-center">
        <h2 class="display-5">Request to Pay</h2>
        <p class="lead">Try the request to pay method by submitting a form details.</p>
        <a href="/pay"><button class="btn btn-info">Can't wait to try it!</button></a>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <ul class="list-group d-flex">
            <li class="list-group-item active" aria-current="true">RequestToPay will notify the User via USSD/APP </li>
            <li class="list-group-item">Redirect User to a processing page</li>
            <li class="list-group-item">Set a timeout awaiting for the transaction status</li>
            <li class="list-group-item">Get the transaction status and redirect to sucess/failure page</li>
            <li class="list-group-item">Suggest User to get their balance details</li>
        </ul>
      </div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Get your website/project showcased here</h2>
        <p class="lead">Drop the link of your website/project making use of this API.</p>
        <div class="input-group">
            <input type="text" aria-label="Lorem" class="form-control" placeholder="abc@123.xyz">
            <input type="text" class="form-control" placeholder="https://myproject.com" aria-label="And there is the link" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Done</button>
          
        </div>
      </div>
      {{!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> --}}
    </div>
  </div>
  </div>
</main>