<main>

  {{!-- Bootstrap alert icons --}}
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <a href="https://momodeveloper.mtn.com/"><img src="img/momo.jpg" alt="MTN MOMO Logo"></a>
      <h1 class="display-6 fw-normal">MTN-MOMO-API Collections Implementation</h1>
      <p class="lead fw-normal">Collections is a service that enables Mobile Money partners to receive payments that can be customer-initiated on USSD/App/Web or Merchant-initiated.</p>
      <a class="btn btn-outline-secondary" href="https://github.com/DavidOsee/MTN-MOMO-API-IMPLEMENTATION.git" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
    </svg> Send a Pull Request</a>
    </div>
    <div class="product-device shadow-sm d-none d-lg-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-lg-block"></div>
  </div>
 
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
      <div class="my-3 py-3 text-center">
        <h2 class="display-5">Request to Pay</h2>
        <p class="lead">What you should basically take care of once a User checks out</p>
        <a href="/pay"><button class="btn btn-primary">Can't wait to try it!</button></a>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <ul class="list-group d-flex">
            <li class="list-group-item list-bg" aria-current="true">Notify the User via USSD/APP using RequestToPay method</li>
            <li class="list-group-item ">Redirected them to a transaction processing page</li>
            <li class="list-group-item  list-bg">Set a timeout awaiting for the transaction status</li>
            <li class="list-group-item ">Get the transaction status and redirect to success/failure page</li>
            <li class="list-group-item  list-bg">Suggest User to get their balance</li>
        </ul>
      </div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
      <div class="my-3 p-3">
        
        <h2 class="display-5 text-center">Drop a feedback</h2>
        <p class="lead text-center">I do read my mails <span style="font-size:18px">&#128513;</span></p>
        <br> 
        <div id="loading" class="d-flex d-none">
          <div class="spinner-grow text-primary text-center ms-6 d-flex" style="width: 3rem; height: 3rem;" role="status">
            {{!-- <span class="" style="padding-left: 10px !important;">Loading...</span> --}}
          </div><p class="text-primary ps-8 mt-2">&nbsp; Sending...</p>
        </div>
        
        <div id="success_alert" class="alert alert-success alert-dismissible fade show d-none" role="alert">
          <strong>That was a good one!</strong> I appreciate your time.
          {{!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> --}}
        </div>
        <div id="warning_alert" class="alert alert-warning alert-dismissible fade show d-none" role="alert">
          <span id="warning_text"></span>
          {{!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> --}}
        </div>
        {{!-- ALERT from the controller --}}
        <form id="sendMailForm">
          <div class="form-group mb">
            <label for="exampleFormControlInput1" class="mb-label">Your Email address</label>
            <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1" class="mb-label">Your valuable comment in 300 characters</label>
            <textarea name="feedback" placeholder="Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document." class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300"></textarea>
          </div><br>
          <button id="sendMailBtn" class="btn btn-outline-secondary" type="submit" id="button-addon2">Send</button>
        </form>
      </div>
      {{!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> --}}
    </div>
  </div>
  </div>
</main>